<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <title>Blog</title>
        <meta content="" name="description">
        <meta content="" name="keywords">

        <!-- Favicons -->
        <link th:href="@{/images/nsu/nsu-school-badge-icon.ico}" rel="icon" type="image/x-icon">


        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
              rel="stylesheet">


        <!-- Vendor CSS Files -->
        <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
        <link th:href="@{/bootstrap/icons/bootstrap-icons.css}" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor-viewer.min.css"/>

        <!-- Template Main CSS File -->
        <link th:href="@{/css/typo.css}" rel="stylesheet">
        <link th:href="@{/css/style.css}" rel="stylesheet">
        <link th:href="@{/lib/prism/tomorrow/prism.css}" rel="stylesheet">
    </head>

    <style>

    </style>
    <body>
        <!-- ======= Header ======= -->
        <header id="header" class="fixed-top">
            <div class="container d-flex align-items-center justify-content-between">
                <div class="logo">
                    <a th:href="@{/index}">
                        <img th:src="@{/images/nsu/nsu-school-badge.png}" alt="" class="img-fluid">&nbsp;
                        <strong>NSU Online Judge</strong>
                    </a>
                </div>


                <nav id="navbar" class="navbar">
                    <ul>
                        <li>
                            <a th:href="@{/index}" class="nav-link scroll d-inline-block">
                                <i class="home icon"></i>Home
                            </a>
                        </li>

                        <li>
                            <a th:href="@{/problemset}" class="nav-link scrollto d-inline-block">
                                <i class="book icon"></i>Problems
                            </a>
                        </li>

                        <li>
                            <a th:href="@{/status}" class="nav-link scrollto d-inline-block">
                                <i class="database icon"></i>Status
                            </a>
                        </li>

                        <li>
                            <a th:href="@{/rating}" class="nav-link scrollto d-inline-block">
                                <i class="chart bar icon"></i>Rating
                            </a>
                        </li>

                        <li>
                            <a th:href="@{/contests}" class="nav-link scrollto d-inline-block">
                                <i class="trophy icon"></i>Contests
                            </a>
                        </li>

                        <li>
                            <a th:href="@{/forum}" class="nav-link scrollto d-inline-block active">
                                <i class="chat dots fill icon"></i>Forum
                            </a>
                        </li>

                        <li>
                            <a th:href="@{/faq}" class="nav-link scrollto d-inline-block">
                                <i class="question circle icon"></i>F.A.Q
                            </a>
                        </li>

                        <li th:if="${loginUser == null}">
                            <a class="getstarted scrollto" th:href="@{/login}">Get Started</a>
                        </li>

                        <li class="align-items-center" style="display:flex;" th:if="${loginUser != null}">
                            <a href="#" id="infoButton"><img th:src="@{${loginUser.headerUrl}}" alt=""
                                                             class="ui avatar image">
                                Luminous</a>

                            <div class="ui info flowing popup transition hidden m-radius" style="width: 280px;">
                                <table class="table">
                                    <tr>
                                        <td class="align-items-center" style="display: flex;">
                                            <a th:href="@{/profile/preview}"><img th:src="@{${loginUser.headerUrl}}"
                                                                                  alt=""
                                                                                  style="height: 50px; width: 50px; margin-right: 10px;"
                                                                                  class="ui avatar image">
                                                Luminous</a>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <a th:href="@{/profile/setting}">
                                                <div>
                                                    <i class="user icon" style="margin-right: 10px;"></i>Profile
                                                    Settings
                                                </div>
                                            </a>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <a th:href="@{/profile/submissions}">
                                                <div>
                                                    <i class="upload icon" style="margin-right: 10px;"></i>My
                                                    Submissions
                                                </div>
                                            </a>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <a th:href="@{/profile/blogs}">
                                                <div>
                                                    <i class="book icon" style="margin-right: 10px;"></i>My Blogs
                                                </div>
                                            </a>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <a th:href="@{/profile/message}">
                                                <div>
                                                    <i class="mail icon" style="margin-right: 10px;"></i>Message
                                                </div>
                                            </a>
                                        </td>
                                    </tr>

                                    <tr th:if="${loginUser.type.key == 1}">
                                        <td>
                                            <a th:href="@{/admin/dashboard}">
                                                <div>
                                                    <i class="user md icon" style="margin-right: 10px;"></i>Administration
                                                </div>
                                            </a>
                                        </td>
                                    </tr>
                                </table>

                                <div class="text-end">
                                    <button th:onclick="|window.location.href='@{/logout}'|"
                                            class="ui basic m-radius button">
                                        Logout
                                        <i class="sign-out icon" style="margin-left: 10px;"></i>
                                    </button>
                                </div>
                            </div>
                        </li>
                    </ul>

                    <i class="bi bi-list mobile-nav-toggle"></i>
                </nav><!-- .navbar -->

            </div>

        </header><!-- End Header -->


        <!-- ======= Main Section ======= -->


        <div class="container" style="margin-top: 100px;">

            <div id="waypoint" class="m-container-small m-padded-tb-big animated fadeIn">
                <div class="ui container">
                    <div class="ui top attached segment m-top-radius">
                        <div class="ui horizontal link list align-items-center">
                            <div class="item">
                                <div class="align-items-center" style="display: flex;">
                                    <a th:href="@{|/profile/preview/${author.userId}|}"><img th:src="@{${author.headerUrl}}" alt=""
                                                     style="height: 30px; width: 30px;" class="ui avatar image"></a>
                                    <a th:href="@{|/profile/preview/${author.userId}|}" style="margin-left: 5px;" th:utext="${author.nickname}">Luminous</a>
                                </div>
                            </div>
                            <div class="item">
                                <i class="calendar icon"></i>
                                <span>[(${#dates.format(post.createTime,'yyyy-MM-dd HH:mm:ss')})]</span>
                            </div>
                            <!--                            <div class="item" th:utext="">-->
                            <!--                                <i class="eye icon"></i>-->
                            <!--                                1024-->
                            <!--                            </div>-->
                        </div>
                    </div>

                    <div class="ui attached segment" th:if="${post.firstImageUrl != null}">
                        <!--                    图片-->
                        <img th:src="@{${post.firstImageUrl}}" alt="" class="ui fluid rounded image">
                    </div>

                    <div class="ui attached padded segment">
                        <!--                    内容-->
                        <h1 class="ui centered aligned header" th:utext="${post.title}">什么是编程？</h1>

                        <div id="content"
                             th:utext="${post.content}"
                             class="blog-content typo typo-selection"></div>
                    </div>

                    <div class="ui attached positive message justify-content-end" style="display: flex;">
                        <div class="ui middle horizontal link list">
                            <div class="item">
                                <a href="javascript:;" th:onclick="|like(this, 0, ${post.postId}, ${post.userId});|">
                                    <i class="thumbs up outline icon"></i>
                                    <span th:utext="${post.likes}">19</span>
                                </a>

                                <!-- <a href="#"><i class="violet thumbs up outline icon"></i></a> 19-->
                            </div>

                            <div class="item">
                                <a id="goToComment" onclick="scrollToComment()"><i class="comment outline icon"></i></a>
                                <span th:utext="${post.commentCount}">25</span>
                            </div>

                            <div class="item">
                                <a class="blogEditorButton">
                                    <i class="bars icon"></i>
                                </a>

                                <div class="ui flowing popup transition hidden m-radius blogEditor"
                                     style="width: 180px;">
                                    <table class="table">
                                        <tr>
                                            <td>
                                                <a href="#">
                                                    <div class="text-start">
                                                        <i class="edit icon"
                                                           style="margin-right: 10px;"></i>Edit
                                                    </div>
                                                </a>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <a href="#">
                                                    <div class="text-start">
                                                        <i class="thumbtack icon"
                                                           style="margin-right: 10px;"></i>Pin
                                                    </div>
                                                </a>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <a href="#">
                                                    <div class="text-start">
                                                        <i class="thumbtack icon"
                                                           style="margin-right: 10px;"></i>Unpin
                                                    </div>
                                                </a>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <a href="#">
                                                    <div class="text-start">
                                                        <i class="trash alternate icon"
                                                           style="margin-right: 10px;"></i>Delete
                                                    </div>
                                                </a>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <a href="#">
                                                    <div class="text-start">
                                                        <i class="exclamation triangle icon"
                                                           style="margin-right: 10px;"></i>Report
                                                    </div>
                                                </a>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="ui bottom attached segment m-bottom-radius">
                        <!--                    留言区域列表-->
                        <div id="comment-container" class="ui violet segment">
                            <div class="ui comments">
                                <h3 class="ui dividing header">Comments</h3>
                                <div class="comment" th:each="cvo:${comments}">
                                    <a class="avatar">
                                        <img th:src="@{${cvo.user.headerUrl}}">
                                    </a>
                                    <div class="content">
                                        <a class="author" th:utext="${cvo.user.nickname}">Matt</a>
                                        <div class="metadata">
                                            <!--                                            <span class="date">today 5:42 PM</span>-->
                                            <span class="date">[(${#dates.format(cvo.comment.createTime,'yyyy-MM-dd HH:mm:ss')})]</span>
                                        </div>
                                        <div class="text" th:utext="${cvo.comment.content}">太赞了！</div>
                                        <div class="actions">
                                            <a class="reply"
                                               th:data-commentid="${cvo.comment.commentId}"
                                               th:data-commentnickname="${cvo.user.nickname}"
                                               th:data-commentuserid="${cvo.user.userId}"
                                               onclick="reply(this)">Reply</a>
                                        </div>
                                    </div>
                                    <div class="comments">
                                        <div class="comment" th:each="rvo:${cvo.replys}">
                                            <a class="avatar">
                                                <img th:src="@{${rvo.user.headerUrl}}">
                                            </a>
                                            <div class="content">
                                                <a class="author" th:utext="${rvo.user.nickname}">Jenny Hess</a>
                                                <i class="long arrow alternate right icon"></i>
                                                <a class="author" th:utext="${rvo.target.nickname}">Elliot Fu</a>
                                                <div class="metadata">
                                                    <!--                                                    <span class="date">recently</span>-->
                                                    <span class="date">[(${#dates.format(rvo.reply.createTime,'yyyy-MM-dd HH:mm:ss')})]</span>
                                                </div>
                                                <div class="text" th:utext="${rvo.reply.content}">你永远是多么正确！
                                                </div>
                                                <div class="actions">
                                                    <a class="reply"
                                                       th:data-commentid="${cvo.comment.commentId}"
                                                       th:data-commentnickname="${rvo.user.nickname}"
                                                       th:data-commentuserid="${rvo.user.userId}"
                                                       onclick="reply(this)">Reply</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <!-- 分页 -->
                            <nav aria-label="..." style="position: relative; margin-top: 50px;"
                                 th:if="${page.rows} > 0">
                                <ul class="pagination justify-content-center">
                                    <li th:class="|page-item ${page.current==1?'disabled':''}|">
                                        <a class="page-link" th:href="@{${page.path}(current=${page.current-1})}"
                                           style="color: #47536e">Previous</a>
                                    </li>
                                    <li class="page-item"
                                        th:each="idx:${#numbers.sequence(page.from, page.to)}">
                                        <a th:class="|page-link ${page.current==idx?'m-active-green':''}|"
                                           th:href="@{${page.path}(current=${idx})}" style="color: #a3c293"
                                           th:text="${idx}">1</a>
                                    </li>
                                    <li th:class="|page-item ${page.current==page.total?'disabled':''}|">
                                        <a class="page-link" th:href="@{${page.path}(current=${page.current+1})}"
                                           style="color: #47536e">Next</a>
                                    </li>
                                </ul>
                            </nav>

                        </div>

                        <div class="ui form">
                            <div class="field" id="commentField">
                                <textarea name="content"
                                          placeholder="Please enter your comment..."
                                          onclick="removeClass()"
                                          id="commentEditor"
                                          cols="30"
                                          rows="10"></textarea>
                            </div>

                            <div class="fields">
                                <div class="field m-mobile-wide m-margin-bottom-small">
                                    <a id="publish" class="ui green button m-mobile-wide m-radius"
                                            onclick="comment()"
                                            style="width: 110px;"><i
                                            class="edit icon"></i>Publish
                                    </a>
                                    <a id="reset" class="ui origin button m-mobile-wide m-radius"
                                            onclick="reset()"
                                            style="width: 110px;"><i
                                            class="edit icon"></i>Reset
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>


        <br>
        <br>
        <br>
        <br>
        <br>


        <!-- End Main -->


        <!-- ======= Footer ======= -->

        <footer id="footer">
            <div class="footer-top">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-3 col-md-6 footer-contact">
                            <h4>NSU Online Judge</h4>
                            <p>
                                <strong>A programming competition & algorithm training platform!</strong><br>
                            </p>
                        </div>


                        <div class="col-lg-3 col-md-6 footer-links">
                            <h4>Our Social Networks</h4>
                            <!--<p></p>-->
                            <div class="social-links mt-3">
                                <a href="#" class="qq" data-content="554648186" data-position="bottom center">
                                    <i class="qq icon"></i>
                                </a>
                                <a href="#" class="email" data-content="NSU-ACM@outlook.com"
                                   data-position="bottom center"><i class="envelope icon"></i></a>
                                <a href="#" class="wechat"><i class="wechat icon"></i></a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="container py-4">
                <div class="copyright">
                    &copy; Copyright <strong><span>NSU Online Judge</span></strong>. All Rights Reserved
                </div>
            </div>
        </footer><!-- End Footer -->

        <!-- Back To Top -->
        <a href="#" class="back-to-top d-flex" style="justify-content: center; align-items: center">
            <i class="bi bi-arrow-up-short"></i></a>


        <!-- Vendor JS Files -->
        <script th:src="@{/js/jquery-3.6.1.min.js}"></script>
        <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
        <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
        <script src="https://uicdn.toast.com/editor/latest/toastui-editor-viewer.js"></script>


        <!-- Template Main JS File -->
        <script th:src="@{/js/global.js}"></script>
        <script th:src="@{/lib/prism/tomorrow/prism.js}"></script>
        <script th:src="@{/js/main.js}"></script>

        <script>
            $('.qq').popup();
            $('.email').popup();
            $('.ui.dropdown')
                .dropdown();
            $('#infoButton').popup({
                popup: $('.info.popup'),
                on: 'click',
                position: 'bottom center'
            });

            function scrollToComment() {
                document.getElementById('goToComment').scrollIntoView({
                    block: 'start',
                    inline: 'nearest',
                    behavior: 'smooth'
                })
            }

            $('.blogEditorButton').popup({
                popup: $('.blogEditor.popup'),
                on: 'click',
                position: 'bottom center'
            });


            const {Editor} = toastui;
            var p = document.querySelector('.blog-content');
            const viewer = new Editor({
                el: document.querySelector('.blog-content'),
                initialValue: p.textContent,
                viewer: true,
                height: '600px',
            });


            var entityType = "POST";
            var entityId;
            var targetId;

            function reset() {
                entityType = "POST";
                $('#commentEditor').val('');
                $('#commentEditor').attr('placeholder', 'Please enter your comment...');
            }

            function reply(obj) {
                var commentUserId = $(obj).data('commentuserid');
                var commentNickname = $(obj).data('commentnickname');
                var commentId = $(obj).data('commentid');

                $('#commentEditor').val('');
                $('#commentEditor').attr('placeholder', 'Reply to ' + commentNickname + '...');

                entityType = 'COMMENT';
                entityId = commentId;
                targetId = commentUserId;

                document.querySelector('#commentEditor').scrollIntoView({
                    behavior: "smooth",
                });
            }

            function comment() {
                if (!checkComment()) {
                    return;
                }

                var comment = $('#commentEditor').val();
                var discussPostId = [[${post.postId}]];

                var formData = new FormData();
                formData.append('content', comment);

                if (entityType === "POST") {
                    formData.append('entityType', entityType);
                    formData.append('entityId', discussPostId);
                    formData.append('targetId', 0);
                } else {
                    formData.append('entityType', entityType);
                    formData.append('entityId', entityId);
                    formData.append('targetId', targetId);
                }
                $.ajax({
                    type: 'POST',
                    url: CONTEXT_PATH + "/comment/add/" + discussPostId,
                    data: formData,
                    datatype: 'json',
                    processData: false,
                    contentType: false,
                    success: function (data) {
                        data = $.parseJSON(data);
                        // 刷新页面
                        if (data.code === 0) {

                        }
                    }
                });
            }

            function checkComment() {
                if ($('#commentEditor').val() === "") {
                    document.querySelector('#commentField').classList.add("error");
                    $(document.querySelector('#commentField')).shake(2, 10, 400);
                    return false;
                }
                return true;
            }

            function removeClass() {
                document.querySelector('#commentField').classList.remove("error");
            }

            jQuery.fn.shake = function (intShakes /*Amount of shakes*/, intDistance /*Shake distance*/, intDuration /*Time duration*/) {
                this.each(function () {
                    var jqNode = $(this);
                    jqNode.css({position: 'relative'});
                    for (var x = 1; x <= intShakes; x++) {
                        jqNode.animate({left: (intDistance * -1)}, (((intDuration / intShakes) / 4)))
                            .animate({left: intDistance}, ((intDuration / intShakes) / 2))
                            .animate({left: 0}, (((intDuration / intShakes) / 4)));
                    }
                });
                return this;
            }

            function like(btn, entityType, entityId, entityUserId) {
                $.post(
                    CONTEXT_PATH + "/like",
                    {"entityType": entityType, "entityId": entityId, "entityUserId" : entityUserId},
                    function (data) {
                        data = $.parseJSON(data);
                        if (data.code === 0) {
                            $(btn).children("span").text(data.likeCount);
                        } else {
                            alert(data.msg);
                        }
                    }
                );
            }
        </script>
    </body>
</html>