<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <title>Create Blog</title>
        <meta content="" name="description">
        <meta content="" name="keywords">

        <!-- Favicons -->
        <link th:href="@{/images/nsu/nsu-school-badge-icon.ico}" rel="icon" type="image/x-icon">


        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
              rel="stylesheet">


        <!-- Vendor CSS Files -->
        <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
        <link th:href="@{/bootstrap/icons/bootstrap-icons.css}" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css" rel="stylesheet">
        <link href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" rel="stylesheet"/>

        <!-- Template Main CSS File -->
        <link th:href="@{/css/style.css}" rel="stylesheet">
        <!--        <link th:href="@{/lib/editormd/css/editormd.css}" rel="stylesheet">-->
    </head>

    <style>

    </style>
    <body>
        <!-- ======= Header ======= -->
        <header id="header" class="fixed-top">
            <div class="container d-flex align-items-center justify-content-between">
                <div class="logo">
                    <a th:href="@{/index}">
                        <img th:src="@{/images/nsu/nsu-school-badge.png}" alt="" class="img-fluid">&nbsp;
                        <strong>NSU Online Judge</strong>
                    </a>
                </div>


                <nav id="navbar" class="navbar">
                    <ul>
                        <li>
                            <a th:href="@{/index}" class="nav-link scroll d-inline-block">
                                <i class="home icon"></i>Home
                            </a>
                        </li>

                        <li>
                            <a th:href="@{/problemset}" class="nav-link scrollto d-inline-block">
                                <i class="book icon"></i>Problems
                            </a>
                        </li>

                        <li>
                            <a th:href="@{/status}" class="nav-link scrollto d-inline-block">
                                <i class="database icon"></i>Status
                            </a>
                        </li>

                        <li>
                            <a th:href="@{/rating}" class="nav-link scrollto d-inline-block">
                                <i class="chart bar icon"></i>Rating
                            </a>
                        </li>

                        <li>
                            <a th:href="@{/contests}" class="nav-link scrollto d-inline-block">
                                <i class="trophy icon"></i>Contests
                            </a>
                        </li>

                        <li>
                            <a th:href="@{/forum}" class="nav-link scrollto d-inline-block active">
                                <i class="chat dots fill icon"></i>Forum
                            </a>
                        </li>

                        <li>
                            <a th:href="@{/faq}" class="nav-link scrollto d-inline-block">
                                <i class="question circle icon"></i>F.A.Q
                            </a>
                        </li>

                        <li th:if="${loginUser == null}">
                            <a class="getstarted scrollto" th:href="@{/login}">Get Started</a>
                        </li>

                        <li class="align-items-center" style="display:flex;" th:if="${loginUser != null}">
                            <a href="#" id="infoButton"><img th:src="@{${loginUser.headerUrl}}" alt=""
                                                             class="ui avatar image">
                                Luminous</a>

                            <div class="ui info flowing popup transition hidden m-radius" style="width: 280px;">
                                <table class="table">
                                    <tr>
                                        <td class="align-items-center" style="display: flex;">
                                            <a th:href="@{/profile/preview}"><img th:src="@{${loginUser.headerUrl}}"
                                                                                  alt=""
                                                                                  style="height: 50px; width: 50px; margin-right: 10px;"
                                                                                  class="ui avatar image">
                                                Luminous</a>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <a th:href="@{/profile/setting}">
                                                <div>
                                                    <i class="user icon" style="margin-right: 10px;"></i>Profile
                                                    Settings
                                                </div>
                                            </a>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <a th:href="@{/profile/submissions}">
                                                <div>
                                                    <i class="upload icon" style="margin-right: 10px;"></i>My
                                                    Submissions
                                                </div>
                                            </a>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <a th:href="@{/profile/blogs}">
                                                <div>
                                                    <i class="book icon" style="margin-right: 10px;"></i>My Blogs
                                                </div>
                                            </a>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <a th:href="@{/profile/message}">
                                                <div>
                                                    <i class="mail icon" style="margin-right: 10px;"></i>Message
                                                </div>
                                            </a>
                                        </td>
                                    </tr>

                                    <tr th:if="${loginUser.type.key == 1}">
                                        <td>
                                            <a th:href="@{/admin/dashboard}">
                                                <div>
                                                    <i class="user md icon" style="margin-right: 10px;"></i>Administration
                                                </div>
                                            </a>
                                        </td>
                                    </tr>
                                </table>

                                <div class="text-end">
                                    <button th:onclick="|window.location.href='@{/logout}'|"
                                            class="ui basic m-radius button">
                                        Logout
                                        <i class="sign-out icon" style="margin-left: 10px;"></i>
                                    </button>
                                </div>
                            </div>
                        </li>
                    </ul>

                    <i class="bi bi-list mobile-nav-toggle"></i>
                </nav><!-- .navbar -->

            </div>

        </header><!-- End Header -->


        <!-- ======= Main Section ======= -->


        <div class="" style="margin-top: 65px;">
            <div class="ui segment">
                <form>
                    <div class="ui form">
                        <div class="required field" style="margin-top: 20px;">
                            <h1>Title</h1>
                            <input class=""
                                   id="title"
                                   name="title"
                                   onclick="hideInfo()"
                                   type="text">
                        </div>

                        <div class="field" style="margin-top: 50px;">
                            <h1>First image link</h1>
                            <div class="input-group">
                                <input type="file"
                                       class="form-control"
                                       name="firstImage"
                                       id="inputGroupFile04"
                                       onchange="showFirstImage()"
                                       aria-describedby="inputGroupFileAddon04"
                                       aria-label="Upload">
                            </div>
                        </div>

                        <img src="" id="firstImage" style="width: 900px; display: none">

                        <div id="content" style="display: none"></div>
                        <div class="field" style="margin-top: 50px;">
                            <h1>Content</h1>
                            <div id="editor" style="z-index: 1050 !important;"></div>
                        </div>
                    </div>


                    <div class="container ui right aligned" style="margin-top: 80px; margin-bottom: 100px; width: 100%">
<!--                        <a class="ui orange button" id="save" style="width: 100px;">Save</a>-->
                        <a class="ui green button" th:if="${editFlag == null}" id="publish" style="width: 100px;">Publish</a>
                        <a class="ui green button" th:if="${editFlag != null}" id="update" style="width: 100px;">Update</a>
                    </div>

                    <!--   Hint Info   -->
                    <!--   Fail   -->
                    <div class="ui negative message" style="display: none" id="hintFailModel">
                        <i class="close icon"></i>
                        <div class="header">Publish failed!</div>
                        <p id="hintFailContent">Title can not be empty!</p>
                    </div>

                    <div class="ui negative message" style="display: none;" id="emptyContentHint">
                        <i class="close icon"></i>
                        <div class="header">Publish failed!</div>
                        <p>Content can not be empty!</p>
                    </div>


                    <!--   Success   -->
                    <div class="ui success message" id="hintSuccessModel" style="display: none">
                        <i class="close icon"></i>
                        <div class="header">Publish successfully!</div>
                        <p id="hintSuccessContent">Content can not be empty!</p>
                    </div>
                </form>
            </div>
        </div>


        <br>
        <br>
        <br>
        <br>
        <br>


        <!-- End Main -->


        <!-- ======= Footer ======= -->

        <footer id="footer">
            <div class="footer-top">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-3 col-md-6 footer-contact">
                            <h4>NSU Online Judge</h4>
                            <p>
                                <strong>A programming competition & algorithm training platform!</strong><br>
                            </p>
                        </div>


                        <div class="col-lg-3 col-md-6 footer-links">
                            <h4>Our Social Networks</h4>
                            <!--<p></p>-->
                            <div class="social-links mt-3">
                                <a href="#" class="qq" data-content="554648186" data-position="bottom center">
                                    <i class="qq icon"></i>
                                </a>
                                <a href="#" class="email" data-content="NSU-ACM@outlook.com"
                                   data-position="bottom center"><i class="envelope icon"></i></a>
                                <a href="#" class="wechat"><i class="wechat icon"></i></a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="container py-4">
                <div class="copyright">
                    &copy; Copyright <strong><span>NSU Online Judge</span></strong>. All Rights Reserved
                </div>
            </div>
        </footer><!-- End Footer -->

        <!-- Back To Top -->
        <a href="#" class="back-to-top d-flex" style="justify-content: center; align-items: center">
            <i class="bi bi-arrow-up-short"></i></a>


        <!-- Vendor JS Files -->
        <script th:src="@{/js/jquery-3.6.1.min.js}"></script>
        <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
        <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
        <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>

        <!-- Template Main JS File -->
        <script th:src="@{/js/global.js}"></script>
        <script th:src="@{/js/main.js}"></script>
        <!--        <script th:src="@{/lib/editormd/editormd.min.js}"></script>-->

        <script>
            $('.qq').popup();
            $('.email').popup();
            $('.ui.dropdown')
                .dropdown();
            $('#infoButton').popup({
                popup: $('.info.popup'),
                on: 'click',
                position: 'bottom center'
            });

            $('.blogEditorButton').popup({
                popup: $('.blogEditor.popup'),
                on: 'click',
                position: 'bottom center'
            });


            // 初始化 Markdown 编辑器
            var content = document.querySelector('#content');
            const Editor = toastui.Editor;
            const editor = new Editor({
                el: document.querySelector('#editor'),
                height: '500px',
                initialValue: content.textContent,
                initialEditType: 'markdown',
                previewStyle: 'vertical'
            });


            $("#publish").click(publish);
            $("#update").click(publish);

            function publish() {
                // 获取内容
                var title = $("#title").val();
                var firstImage = $("#inputGroupFile04")[0].files[0];
                var content = editor.getMarkdown();
                var uri = "/add-post";

                var formData = new FormData();
                formData.append('title', title);
                formData.append('firstImage', firstImage);
                formData.append('content', content);

                $.ajax({
                    type: 'POST',
                    url: CONTEXT_PATH + uri,
                    data: formData,
                    datatype: 'json',
                    processData: false,
                    contentType: false,
                    success: function (data) {
                        data = $.parseJSON(data);
                        // 在提示框中显示返回消息并显示提示框
                        if (data.code === 0) {
                            $("#hintSuccessContent").text(data.msg);
                            $("#hintSuccessModel").show();
                            document.querySelector('#hintSuccessModel').scrollIntoView({
                                behavior: "smooth",
                            });
                        } else {
                            $("#hintFailContent").text(data.msg);
                            $("#hintFailModel").show();
                            document.querySelector('#hintFailModel').scrollIntoView({
                                behavior: "smooth",
                            });
                        }
                        // 2秒后自动隐藏
                        setTimeout(function () {
                            $("#hintSuccessModel").hide();
                            $("#hintFailModel").hide();
                        }, 3000);
                    }
                });
            }

            var firstImageChangeFlag = false;
            function showFirstImage() {
                $('#initFirstImage').hide();
                firstImageChangeFlag = true;

                var file = $('#inputGroupFile04').get(0).files[0]
                if (!file || file.length === 0) {
                    return;
                }

                var fileName = file.name;
                var fileType = fileName.substr(fileName.lastIndexOf(".")).toUpperCase();
                if (fileType !== ".GIF" && fileType !== ".PNG" && fileType !== ".JPG" && fileType !== ".JPEG" && fileType !== ".WEBP") {
                    return;
                }

                // const isLt2M = file.size / 1024 / 1024 < 2;
                // if (!isLt2M) {
                //     alert('上传图片大小不能超过 2MB！')
                //     $('#inputGroupFile04').get(0).value = ''
                //     return;
                // }

                // 展示图片
                $('#firstImage').attr('src', fileToBase64(file))
                $('#firstImage').show();
            }

            /**
             * 文件流转为 base64
             * @param {*} file
             */
            function fileToBase64(file) {
                var URL = window.URL || window.webkitURL;
                return URL.createObjectURL(file);
            }
        </script>
    </body>
</html>