<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <title>F.A.Q</title>
        <meta content="" name="description">
        <meta content="" name="keywords">

        <!-- Favicons -->
        <link th:href="@{/images/nsu/nsu-school-badge-icon.ico}" rel="icon" type="image/x-icon">


        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
              rel="stylesheet">


        <!-- Vendor CSS Files -->
        <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
        <link th:href="@{/bootstrap/icons/bootstrap-icons.css}" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css" rel="stylesheet">

        <!-- Template Main CSS File -->
        <link th:href="@{/css/style.css}" rel="stylesheet">
    </head>

    <style>

    </style>
    <body>
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top">
        <div class="container d-flex align-items-center justify-content-between">
            <div class="logo">
                <a th:href="@{/index}">
                    <img th:src="@{/images/nsu/nsu-school-badge.png}" alt="" class="img-fluid">&nbsp;
                    <strong>NSU Online Judge</strong>
                </a>
            </div>


            <nav id="navbar" class="navbar">
                <ul>
                    <li>
                        <a th:href="@{/index}" class="nav-link scroll d-inline-block">
                            <i class="home icon"></i>Home
                        </a>
                    </li>

                    <li>
                        <a th:href="@{/problemset}" class="nav-link scrollto d-inline-block">
                            <i class="book icon"></i>Problems
                        </a>
                    </li>

                    <li>
                        <a th:href="@{/status}" class="nav-link scrollto d-inline-block">
                            <i class="database icon"></i>Status
                        </a>
                    </li>

                    <li>
                        <a th:href="@{/rating}" class="nav-link scrollto d-inline-block">
                            <i class="chart bar icon"></i>Rating
                        </a>
                    </li>

                    <li>
                        <a th:href="@{/contests}" class="nav-link scrollto d-inline-block">
                            <i class="trophy icon"></i>Contests
                        </a>
                    </li>

                    <li>
                        <a th:href="@{/forum}" class="nav-link scrollto d-inline-block">
                            <i class="chat dots fill icon"></i>Forum
                        </a>
                    </li>

                    <li>
                        <a th:href="@{/faq}" class="nav-link scrollto d-inline-block active">
                            <i class="question circle icon"></i>F.A.Q
                        </a>
                    </li>

                    <li th:if="${loginUser == null}">
                        <a class="getstarted scrollto" th:href="@{/login}">Get Started</a>
                    </li>

                    <li class="align-items-center" style="display:flex;" th:if="${loginUser != null}">
                        <a href="#" id="infoButton"><img th:src="@{${loginUser.headerUrl}}" alt=""
                                                         class="ui avatar image">
                            Luminous</a>

                        <div class="ui info flowing popup transition hidden m-radius" style="width: 280px;">
                            <table class="table">
                                <tr>
                                    <td class="align-items-center" style="display: flex;">
                                        <a th:href="@{/profile/preview}"><img th:src="@{${loginUser.headerUrl}}" alt=""
                                                                              style="height: 50px; width: 50px; margin-right: 10px;"
                                                                              class="ui avatar image">
                                            Luminous</a>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <a th:href="@{/profile/setting}">
                                            <div>
                                                <i class="user icon" style="margin-right: 10px;"></i>Profile Settings
                                            </div>
                                        </a>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <a th:href="@{/profile/submissions}">
                                            <div>
                                                <i class="upload icon" style="margin-right: 10px;"></i>My Submissions
                                            </div>
                                        </a>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <a th:href="@{/profile/blogs}">
                                            <div>
                                                <i class="book icon" style="margin-right: 10px;"></i>My Blogs
                                            </div>
                                        </a>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <a th:href="@{/profile/message}">
                                            <div>
                                                <i class="mail icon" style="margin-right: 10px;"></i>Message
                                            </div>
                                        </a>
                                    </td>
                                </tr>

                                <tr th:if="${loginUser.type > 0}">
                                    <td>
                                        <a th:href="@{/admin/dashboard}">
                                            <div>
                                                <i class="user md icon" style="margin-right: 10px;"></i>Administration
                                            </div>
                                        </a>
                                    </td>
                                </tr>
                            </table>

                            <div class="text-end">
                                <button th:onclick="|window.location.href='@{/logout}'|" class="ui basic m-radius button">
                                    Logout
                                    <i class="sign-out icon" style="margin-left: 10px;"></i>
                                </button>
                            </div>
                        </div>
                    </li>
                </ul>

                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->

        </div>

    </header><!-- End Header -->


        <!-- ======= Main Section ======= -->


        <div class="container" style="margin-top: 100px;">
            <div class="ui segment m-radius">
                <h1 class="text-start m-problem-h">Frequently Asked Questions</h1>

                <hr>

                <h3 class="m-problem-h">Where is the input and the output?</h3>
                <p class="m-problem-text">
                    Your program shall read input from ('Standard Input') and write output to ('Standard Output') For example,
                    you can use in C or in C++ to read from stdin,and use in C or in C++ to write to stdout. User programs are
                    not allowed to read or write files, or you will get a . <code>stdinstdoutscanfcinprintfcoutRuntime Error</code>
                </p>

                <h3 class="m-problem-h">What's the meaning of the submission execution time?</h3>
                <p class="m-problem-text">
                    The onlinejudge might test your code multiple times with different input files. If your code gives the
                    correct answer within the time limit for each input file, the execution time displayed is the max of
                    the time spent for each test case. Otherwise, the execution time will have no sense.
                </p>

                <h3 class="m-problem-h">Java specifications?</h3>
                <p class="m-problem-text">
                    All programs must begin in a static main method in a class. Do not use public classes: even must be
                    non-public to avoid compile error.Use buffered I/O to avoid time limit exceeded due to excesive
                    flushing.<code>MainMain</code>
                </p>

                <h3 class="m-problem-h">About presentation error?</h3>
                <p class="m-problem-text">
                    There is no presentation error in this oj.The judger will trim the blacks and wraps in your ouput's
                    last line. if it's still different with the correct output, the result will be . <code>Wrong Answer</code>
                </p>
            </div>
        </div>


        <!-- End Main -->


        <!-- ======= Footer ======= -->

        <footer id="footer">
            <div class="footer-top">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-3 col-md-6 footer-contact">
                            <h4>NSU Online Judge</h4>
                            <p>
                                <strong>A programming competition & algorithm training platform!</strong><br>
                            </p>
                        </div>


                        <div class="col-lg-3 col-md-6 footer-links">
                            <h4>Our Social Networks</h4>
                            <!--<p></p>-->
                            <div class="social-links mt-3">
                                <a href="#" class="qq" data-content="554648186" data-position="bottom center">
                                    <i class="qq icon"></i>
                                </a>
                                <a href="#" class="email" data-content="NSU-ACM@outlook.com"
                                   data-position="bottom center"><i class="envelope icon"></i></a>
                                <a href="#" class="wechat"><i class="wechat icon"></i></a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="container py-4">
                <div class="copyright">
                    &copy; Copyright <strong><span>NSU Online Judge</span></strong>. All Rights Reserved
                </div>
            </div>
        </footer><!-- End Footer -->

        <!-- Back To Top -->
        <a href="#" class="back-to-top d-flex" style="justify-content: center; align-items: center">
            <i class="bi bi-arrow-up-short"></i></a>


        <!-- Vendor JS Files -->
        <script th:src="@{/js/jquery-3.6.1.min.js}"></script>
        <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
        <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>

        <!-- Template Main JS File -->
        <script th:src="@{/js/main.js}"></script>

        <script>
            $('.qq').popup();
            $('.email').popup();
            $('.ui.dropdown')
                .dropdown();
            $('#infoButton').popup({
                popup: $('.info.popup'),
                on: 'click',
                position: 'bottom center'
            });
        </script>
    </body>
</html>