<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.nsu.onlinejudge.dao.DiscussPostMapper">

    <sql id="selectFields">
        post_id, user_id, title, content, type,
        create_time, comment_count, score, status,
        likes, first_image_url, top_weight
    </sql>

    <sql id="insertFields">
        user_id, title, content, type,
        create_time, comment_count, score, status,
        likes, first_image_url, top_weight
    </sql>
    
    
    <select id="selectDiscussPosts" resultType="DiscussPost">
        SELECT <include refid="selectFields"></include>
        FROM discuss_post
        WHERE status != 'DELETE'
        <if test="userId != 0">
            AND user_id = #{userId}
        </if>
        ORDER BY top_weight DESC, create_time DESC
        LIMIT #{offset}, #{limit}
    </select>

    <select id="selectDiscussPostRows" resultType="int">
        SELECT COUNT(user_id)
        FROM discuss_post
        WHERE status != 'DELETE'
        <if test="userId != 0">
            AND user_id = #{userId}
        </if>
    </select>

    <insert id="insertDiscussPost" parameterType="DiscussPost">
        INSERT INTO discuss_post(<include refid="insertFields"></include>)
        VALUES (#{userId}, #{title}, #{content}, #{type}, #{createTime}, #{commentCount}, #{score}, #{status}, #{likes}, #{firstImageUrl}, #{topWeight})
    </insert>

    <select id="selectDiscussPostById" resultType="DiscussPost">
        SELECT <include refid="selectFields"></include>
        FROM discuss_post
        WHERE post_id = #{postId}
        AND status != 'DELETE'
    </select>
    
    <update id="updateCommentCount">
        UPDATE discuss_post
        SET comment_count = #{commentCount}
        WHERE post_id = #{postId}
    </update>

    <update id="updateDiscussPost" parameterType="DiscussPost">
        UPDATE discuss_post
        SET title = #{title}, content = #{content}, first_image_url = #{firstImageUrl}
        WHERE post_id = #{postId}
    </update>

</mapper>